<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=currentFolder[1]%></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">

	<script src="/scripts/contextmenu.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
	<div class="flex">
		<%- include('./navbar.ejs'); %>
			<!-- Content-->
			<div class="w-4/5 bg-white-500 p-10">
				<% if(type != "root" && type != "bookmarks") {%>
				<form action="/exitfolder" method="post">
					<input type="hidden" name="currentFolder" value="<%= currentFolder[0] %>">
					<button type="submit">                                <img src="/arrow.svg"
						class="shadow-md w-10 p-2 rotate-90 rounded-md hover:bg-gray-300 duration-300"></button>
				</form>
				<% } %>
				<p class="mb-5 font-bold">
					<%=currentFolder[1]%>
				</p>

				<div class="grid grid-cols-5 p-5 shadow-md rounded-md" id="explorer">

					<% for (let i=0; i < folders.length; i++) { %>
						<a href="/explorer/<%=folders[i][0]%>">
							<div id="<%=folders[i][0] %>"
								class="folder cursor-pointer p-5 m-4 flex flex-col items-center justify-center rounded-md hover:shadow-md transition-shadow duration-500">
								<img src="/folder.png" class="w-4/5">
								<p class="">
									<%= folders[i][1] %>
								</p>
								<form action="/renamefolder" method="post" class="hidden w-full">
									<input type="text" class="w-full" name="foldername" value="<%= folders[i][1]%>">
									<input type="hidden" name="type" value="folder">
									<input type="hidden" name="currentFolder" value="<%= currentFolder[0] %>">
									<input type="hidden" name="folderid" value="<%=folders[i][0]%>">
									<input type="submit" class="hidden" />
								</form>
							</div>
						</a>
					<% } %>

					<% for (let i=0; i < files.length; i++) { %>
						<a href="/file/<%=files[i][0]%>">
							<div id="<%=files[i][0] %>"
								class="file cursor-pointer p-5 m-4 flex flex-col items-center justify-center rounded-md hover:shadow-md transition-shadow duration-500">
								<img src="/file.svg" class="w-4/5">
								<p class="">
									<%= files[i][3] %>
								</p>
								<form action="/renamefolder" method="post" class="hidden w-full">
									<input type="text" class="w-full" name="foldername"
										value="<%= files[i][3]%>">
									<input type="hidden" name="type" value="file">
									<input type="hidden" name="currentFolder" value="<%= currentFolder[0] %>">
									<input type="hidden" name="folderid" value="<%=files[i][0]%>">
									<input type="submit" class="hidden" />
								</form>
							</div>
						</a>
					<% } %>
				</div>

				<form class="flex flex-col" action="/uploadfile" method="post" enctype="multipart/form-data">
					<div class="flex w-full">
						<input name="uploadedFile" type="file" class="w-full cursor-pointer mt-3 mb-3 rounded-md font-bold
            file:h-10 file:border-none file:bg-gray-700 file:text-white file:font-normal
            bg-gray-100 hover:bg-gray-300 transition-color duration-300" />
					</div>

					<input type="hidden" name="currentFolder" value="<%= currentFolder[0] %>">

					<button type="submit" name="submit" id=""
						class="cursor-pointer p-2 rounded-md shadow-md font-bold hover:bg-gray-300 transition-color duration-300">
						Feltöltés
					</button>
				</form>

				<% if (type != "root") {%>
				<form class="flex flex-row mt-5" action="/addshare" method="post">
					<input type="hidden" name="type" value="folder">
					<input type="hidden" name="currentFolder" value="<%= currentFolder[0] %>">
					<input type="hidden" name="id" value="<%= currentFolder[0]%>">
					<button type="submit" class="cursor-pointer font-bold mr-2 w-1/5 p-2 rounded-md shadow-md hover:bg-gray-300 transition-color duration-300">
						Megosztás
					</button>
					<input type="text" placeholder="Felhasználónév" name="user"
						class="shadow-md rounded-md w-4/5 mr-2 p-2 focus:outline-none focus:border focus:border-blue-500">
				</form>
				<% } %>
			</div>
	</div>




	<div id="contextMenuExplorer" class="absolute hidden bg-white border border-gray-300 shadow-md rounded-md">
		<form action="/addfolder" method="post">
			<input type="hidden" value="<%=currentFolder[0]%>" name="folderid">
			<button class="block px-4 py-2 text-gray-800 hover:bg-gray-200 transition-color duration-300"
				type="submit">Mappa létrehozása</button>
		</form>
	</div>

	<div id="contextMenuFolder" class="absolute hidden bg-white border border-gray-300 shadow-md rounded-md">
		<a href="download/" id="downloadButton" class="hidden block px-4 py-2 text-gray-800 hover:bg-gray-200 transition-color duration-300">Letöltés</a>
		<a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 transition-color duration-300">Megnyitása</a>
		<p class="hidden" id="menuRenameId"></p>
		<a href="#" id="renameButton"
			class="block px-4 py-2 text-gray-800 hover:bg-gray-200 transition-color duration-300"
			onclick="changeName()">Átnevezés</a>
		<a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 transition-color duration-300">Törlés</a>
	</div>


</body>

</html>